* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Raleway", "Manjari", sans-serif;
}

a {
  color: #444;
  transition: color 0.6s ease-in-out;
}

a:focus,
a:hover {
  opacity: 0.8;
}

.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border: 0.5px solid #dddddd;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  padding: 2rem;
}

.profile-section {
  display: flex;
  flex-direction: column;
}

.profile-image {
  border-radius: 50%;
  margin: auto;
  border: 3px solid #ccc;
  margin-bottom: 1rem;
}

.social-list {
  list-style: none;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.social-list-item {
  padding: 0 0.65rem;
  font-size: 1.2rem;
}

.profile-info-name {
  margin-top: 1.2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 1.5px;
}

.profile-info-name::after {
  content: "";
  height: 2px;
  width: 30%;
  display: block;
  background: #eee;
  margin: 2rem auto;
}

.profile-info-title {
  text-align: center;
  font-size: 1.15rem;
  font-weight: 700;
  color: #888;
  margin-bottom: 0.5rem;
}

.profile-info-contents {
  font-size: 1rem;
  color: #333;
  line-height: 1.45rem;
  text-align: center;
}
